/* Reset some default styles for better compatibility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/*a*/
.disease{
    color: #0428f7;
}
/* Style the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Style the navigation menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #0e0008; /* Slightly darker blue for hover effect */
}
